@import '../../assets/css/themes/light-colors.scss';

// rotate spinner animation
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.page-content__section--one {
  background: var(--white);
  padding: 10px 20px;

  .left {
    padding: 0px 10px;

    .accordion > .card .card-header {
      padding: 0px;
    }

    .accordion > .card {
      overflow: initial;
      margin-bottom: 0.5rem;
    }
    // header on left side
    &-header {
      font-family: 'Poppins';
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.01em;
      color: var(--navy-dark);
      margin: 40px 0px 40px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: fit-content;

      span {
        font-weight: normal;
        font-size: 12px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: var(--navy-lighter-3);
        mix-blend-mode: normal;
        opacity: 0.87;
      }
    }

    // header bellow main header content alligned to the center
    &-subheader {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid var(--grey-faint);

      .nav-tabs {
        display: flex;
        align-items: flex-end;

        li {
          margin-right: 20px;

          .nav-link::before {
            display: none;
          }

          a {
            background-color: transparent;
            color: #979797 !important;
          }
        }
      }

      .nav-tabs .nav-link,
      .nav-tabs .nav-item.show .nav-link {
        border: initial;
        position: relative;
        padding: 0px;
        font-size: 12px;
        border-bottom: 4px solid white;
        margin-bottom: 1px;
      }

      .nav-tabs .nav-link.active {
        background-color: transparent;
        border-bottom: 4px solid #475f7b;
        padding: 3px 0px;
      }

      .nav {
        background-color: var(--white);
        height: 60px;
        padding: 15px 15px 0px 15px;
      }
    }

    // header bellow main header with content alligned to the right
    &-subheader-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .toggle-view {
        padding: 0px 5px;

        &__left {
          border-right: 1px solid var(--grey-faint);
        }
      }
    }

    .card-body {
      padding: 0;

      .btn-transparent {
        color: var(--navy);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    // list of lessons
    .list-lessons {
      &__item {
        background-color: rgba(231, 233, 240, 0.36);
        border-radius: 2px;
        padding: 10px;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: var(--grey-light-3);
        margin: 10px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .material-icons {
          display: none;
        }

        &:hover {
          background: var(--grey-faint-5);

          .material-icons {
            display: block;
          }
        }
      }
    }

    .form-group,
    .input-group {
      font-family: 'Poppins';

      label {
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 0.01em;
        color: var(--navy-lighter-4);
      }

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--grey-light-3);
        opacity: 1; /* Firefox */
      }

      @media only screen and (max-width: 576px) {
        flex-direction: column;

        input {
          width: 100%;
        }

        .input-group-btn {
          display: contents;
        }
      }
      @media only screen and (max-width: 768px) {
        flex-direction: column;

        input {
          width: 100%;
        }

        .input-group-btn {
          display: contents;
        }
      }
    }

    .preview-checkbox {
      display: flex;
      justify-content: space-around;

      @media only screen and (max-width: 576px) {
        flex-direction: column;
      }
      @media only screen and (max-width: 768px) {
        flex-direction: column;
      }
    }

    .panel-default {
      border: none;
    }

    .panel-heading {
      font-family: 'Poppins';
      background-color: var(--grey-faint-5);

      a {
        text-decoration: none;
      }

      h4 {
        margin-bottom: 0px;
      }
    }

    .panel-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .btn-transparent {
        color: var(--navy) !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
    }

    .panel-body {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 5px 0px;

      .add-button-container {
        width: 100%;
        display: flex;
        align-items: center;
      }

      // list of added content
      .content-list {
        display: grid;
        grid-template-columns: 85% 15%;
        width: 100%;
        margin-bottom: 10px;
        position: relative;

        .edit-content {
          position: absolute;
          left: 10px;
          bottom: 10px;
          font-weight: normal;
          font-size: 10px;
          line-height: 12px;
          letter-spacing: 0.01em;
          color: var(--grey-light-3);
        }

        .content-form__input-container {
          border: none;
        }

        .content-thumbnail {
          height: 55px;
          width: 100%;
          object-fit: cover;
        }

        .close-icon {
          position: absolute;
          right: 0px;
          top: 0px;
          font-size: 14px;
          background: var(--white);
        }

        &__right {
          padding-left: 10px;
        }

        .btn-blue__light {
          justify-content: center;
          align-items: center;
          display: flex;
          font-size: 10px;
          margin: 10px 0px;
        }
      }

      // form to add content
      .content-form {
        display: grid;
        grid-template-columns: 85% 15%;
        width: 100%;

        &__right {
          padding-left: 10px;

          .btn-blue__light {
            justify-content: center;
            align-items: center;
            display: flex;
            font-size: 9px;
            padding: 5px 3px;
          }
        }

        &__input-container {
          display: grid;
          grid-template-columns: 10% 80% 10%;
          position: relative;
          background: rgba(243, 243, 243, 0.84);
          border: 1px solid var(--blue-light);
          box-sizing: border-box;
          border-radius: 3px;
          padding: 20px;
          height: 110px;

          .input-left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .text-indicator {
              position: relative;

              span {
                position: absolute;
                color: var(--white);
                left: 3px;
                font-size: 14px;
              }
            }
          }

          .input-middle {
            .input {
              position: relative;

              .text-highlight {
                position: relative;
                width: 100%;
                z-index: 0;

                &__row1 {
                  top: 5px;
                  width: 100%;
                  height: 20px;
                  border-left: 4px solid var(--blue-faint-2);
                  background: var(--blue-faint-3);
                  position: absolute;

                  &:hover {
                    color: var(--blue-faint-3);
                  }
                }

                &__row2 {
                  top: 30px;
                  width: 50%;
                  height: 20px;
                  border-left: 4px solid var(--blue-faint-2);
                  background: var(--blue-faint-3);
                  position: absolute;
                }
              }

              .input-highlight {
                user-select: none;
                line-height: 70;
                position: absolute;
                left: 0;
                top: 10px;
                height: 100%;
                width: 100%;
                border-left: 4px solid var(--blue-faint-2);
                background: var(--blue-faint-3);
                color: transparent;
                overflow: hidden;
                font-size: 20px;
              }

              .form-control {
                font-family: 'Open Sans';
                width: 100%;
                background-color: transparent;
                box-shadow: none;
                border: none;
                z-index: 1;
                position: relative;
              }
            }
          }

          .input-right {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            i {
              color: var(--orange-light);
            }

            span {
              font-family: 'Poppins';
              position: absolute;
              bottom: 5px;
              right: 10px;
              width: fit-content;
            }

            img {
              height: 20px;
              width: 20px;
              margin-left: 5px;
            }
          }
        }

        &__input-bottom {
          display: grid;
          grid-template-columns: 10% 90%;

          .input-button {
            position: relative;

            .btn-navy {
              position: absolute;
              top: -20px;
              left: 15px;
            }
          }

          .input-addon {
            font-family: 'Poppins';
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            padding: 10px 5px;
            margin: 5px 0px;
            background: rgba(243, 243, 243, 0.84);
            border: 1px solid rgba(71, 95, 123, 0.72);
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(71, 95, 123, 0.27);
            border-radius: 3px;

            .addon-item {
              font-size: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: var(--navy) !important;
            }

            .addon-item-active {
              color: var(--blue-light) !important;
            }
          }
        }

        @media only screen and (max-width: 576px) {
          display: flex;
          flex-direction: column;

          &__input-container {
            display: flex;
            padding: 5px;

            .input-left {
              display: none !important;
            }
          }

          &__input-bottom {
            display: block;

            .input-addon {
              display: block;
            }
          }
        }
        @media only screen and (max-width: 768px) {
          display: flex;
          flex-direction: column;

          &__input-container {
            display: flex;
            padding: 5px;

            .input-left {
              display: none !important;
            }
          }

          &__input-bottom {
            display: block;

            .input-addon {
              display: block;
            }
          }
        }
      }

      .btn-navy {
        justify-content: center;
        display: flex;
      }
    }
  }

  .btn-navy {
    margin-right: 10px;
  }

  // buttons right after accordions
  .action-buttons {
    display: flex;

    @media only screen and (max-width: 576px) {
      flex-direction: column;

      button {
        margin-bottom: 10px;
      }
    }
    @media only screen and (max-width: 768px) {
      flex-direction: column;

      button {
        margin-bottom: 10px;
      }
    }
  }
  // bottom of the left section
  .bottom {
    height: 100px;
    display: flex;
    align-items: center;
    background: var(--grey-faint-6);
    border: 1px solid var(--grey-faint);
    box-sizing: border-box;
    border-radius: 0px 0px 8px 0px;
    margin: 20px 0px;
    position: relative;

    .btn-plain__active {
      &__content {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &-left {
    }

    &-right {
      position: absolute;
      right: 10px;
    }
  }

  // right section of the page
  .right {
    font-family: 'Roboto';
    margin-top: 10px;
    padding: 0px 10px;

    &-image {
      width: 100%;
    }

    &-top {
      .btn-submit {
        font-size: 10px;
      }

      .card {
        background: var(--grey-faint-6);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;

        .card-header {
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          color: var(--black);
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.75rem 1.25rem !important;
          background-color: rgba(0, 0, 0, 0.03) !important;
          border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
        }

        .panel-body {
          padding: 0.5rem;
          font-size: 12px;
          line-height: 14px;
          color: var(--grey-dark);

          .panel-row {
            display: flex;
            padding: 5px 0px;

            &-content {
              span {
                font-weight: 700;
                font-size: 12px;
                line-height: 14px;
                color: var(--black);
              }
            }

            .delete {
              font-size: 10px;
              line-height: 15px;
              letter-spacing: 0.2px;
              color: var(--red-dark);
            }
          }

          .flex {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }

    &-bottom {
      margin-top: 10px;

      .card {
        background: var(--grey-faint-6);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;

        .panel-heading {
          background-color: transparent;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          color: var(--navy-dark);
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.75rem 1.25rem !important;
          background-color: rgba(0, 0, 0, 0.03) !important;
          border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;

          &__title {
            span {
              color: var(--red-light-3);
            }
          }
        }

        .panel-body {
          padding: 0.5rem;

          &__title {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            color: var(--black);
            mix-blend-mode: normal;
          }

          &__comment {
            margin: 5px auto;
            background: transparent;

            &:nth-child(even) {
              background: rgba(151, 151, 151, 0.09);
            }

            &-icon {
              color: var(--grey-light-3);
            }

            &-info {
              font-weight: normal;
              font-size: 12px;
              line-height: 20px;
              color: var(--grey-dark-2);
              mix-blend-mode: normal;
              opacity: 0.54;
            }

            &-content {
              font-weight: normal;
              font-size: 12px;
              line-height: 24px;

              span {
                color: var(--blue-light);
              }
            }
          }
        }
      }
    }
  }

  // form
  .form-group {
    label {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.02em;
      color: var(--grey-light);
    }

    input,
    select {
      outline: 0;
      border-width: 0 0 1px !important;
      border-color: var(--grey-light) !important;
      border-radius: 0px !important;
      box-shadow: none;

      &:focus {
        border-color: var(--blue-google) !important;
        color: var(--blue-google) !important;
      }
    }
  }

  .form-control {
    font-size: inherit;
  }

  .form-border__bottom {
    outline: 0;
    border-width: 0 0 1px !important;
    border-color: var(--grey-light) !important;
    border-radius: 0px !important;
    box-shadow: none;

    &:focus {
      border-color: var(--blue-google) !important;
      color: var(--blue-google) !important;
    }
  }

  .create-module_btn-next__container {
    position: absolute;
    bottom: 30px;
    right: 20px;

    @media only screen and (max-width: 576px) {
      position: initial !important;
    }
    @media only screen and (max-width: 768px) {
      position: initial !important;
    }
  }
}

// question types start
.assesment-question,
.survey-question {
  background: rgba(243, 243, 243, 0.84);
  border-radius: 3px;
  padding: 20px;
  width: 100%;
  margin: 20px 0px;
  padding-left: 20px;

  .form-check-input {
    position: absolute;
    margin-top: 0.3rem;
  }

  label {
    padding-left: 20px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 30px;
      color: var(--grey-dark-2);
      mix-blend-mode: normal;
      opacity: 0.87;
    }

    &-message__icon {
      .material-icons {
        color: var(--orange-light) !important;
      }
    }
  }

  &__body {
    position: relative;

    .input-group {
      margin: 10px 0px;

      .input-group-addon {
        background: rgba(229, 229, 229, 0.44);
        display: flex;
        justify-content: center;

        @media only screen and (max-width: 576px) {
          display: none;
        }
        @media only screen and (max-width: 768px) {
          display: none;
        }

        .icon-absolute {
          position: absolute;
          top: 30%;
          font-size: 16px;
          color: var(--white);
        }

        .material-icons {
          font-size: 16px;
        }
      }

      .form-control {
        background: rgba(243, 243, 243, 0.84);
        border-right: none;
        height: 100%;

        @media only screen and (max-width: 576px) {
          border-right: 1px solid #d7d7d7 !important;
        }
        @media only screen and (max-width: 768px) {
          border-right: 1px solid #d7d7d7 !important;
        }
      }

      &-btn {
        button {
          @media only screen and (max-width: 576px) {
            border-left: 1px solid #d7d7d7 !important;
          }
          @media only screen and (max-width: 768px) {
            border-left: 1px solid #d7d7d7 !important;
          }
        }
      }
    }

    .input-borderless {
      border-top: none;
      border-right: none;
      border-left: none;
      box-shadow: none;
      border-radius: 0px;
    }

    .character-length {
      border: none;

      button {
        border-left: none;
        background: rgba(243, 243, 243, 0.84);
        border: 1px solid #d7d7d7;
        border-radius: 0px !important;
        height: 100%;
        color: #425a70 !important;

        img {
          height: 20px;
          width: 20px;
          margin-left: 5px;
        }
      }
    }

    .correct {
      &-input {
        border: 1px solid rgba(36, 200, 117, 0.59);
        border-right: none;
        height: 100%;

        @media only screen and (max-width: 576px) {
          border-right: 1px solid rgba(36, 200, 117, 0.59) !important;
        }
        @media only screen and (max-width: 768px) {
          border-right: 1px solid rgba(36, 200, 117, 0.59) !important;
        }
      }

      &-input-group-addon {
        background: rgba(36, 200, 117, 0.13) !important;
        border: 1px solid rgba(36, 200, 117, 0.59);
        border-right: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;

        .material-icons {
          color: var(--green);
        }

        @media only screen and (max-width: 576px) {
          border-right: 1px solid rgba(36, 200, 117, 0.59) !important;
        }
        @media only screen and (max-width: 768px) {
          border-right: 1px solid rgba(36, 200, 117, 0.59) !important;
        }
      }

      &-input-group-btn {
        button {
          border: 1px solid rgba(36, 200, 117, 0.59);
          border-left: none;

          @media only screen and (max-width: 576px) {
            border-left: 1px solid rgba(36, 200, 117, 0.59) !important;
          }
          @media only screen and (max-width: 768px) {
            border-left: 1px solid rgba(36, 200, 117, 0.59) !important;
          }
        }
      }
    }

    .incorrect {
      &-input {
        border: 1px solid rgba(255, 78, 74, 0.46);
        border-right: none;
        height: 100%;

        @media only screen and (max-width: 576px) {
          border-right: 1px solid rgba(255, 78, 74, 0.46) !important;
        }
        @media only screen and (max-width: 768px) {
          border-right: 1px solid rgba(255, 78, 74, 0.46) !important;
        }
      }

      &-input-group-addon {
        border: 1px solid rgba(255, 78, 74, 0.46);
        border-right: none;
        background: rgba(255, 91, 92, 0.26) !important;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;

        .material-icons {
          color: var(--red);
        }

        @media only screen and (max-width: 576px) {
          border-right: 1px solid rgba(255, 78, 74, 0.46) !important;
        }
        @media only screen and (max-width: 768px) {
          border-right: 1px solid rgba(255, 78, 74, 0.46) !important;
        }
      }

      &-input-group-btn {
        button {
          border: 1px solid rgba(255, 78, 74, 0.46);
          border-left: none;

          @media only screen and (max-width: 576px) {
            border-left: 1px solid rgba(255, 78, 74, 0.46) !important;
          }
          @media only screen and (max-width: 768px) {
            border-left: 1px solid rgba(255, 78, 74, 0.46) !important;
          }
        }
      }
    }

    .sub-title {
      font-weight: 500;
      font-size: 14px;
      line-height: 10px;
      letter-spacing: 0.02em;
      color: var(--black);
      margin: 20px 0px 10px 0px;
    }

    .checkbox-answers {
      background: rgba(229, 229, 229, 0.44);
      border: 1px solid var(--grey-faint-5);
      box-sizing: border-box;
      padding: 5px;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .form-group {
      margin-bottom: 0px;
      margin-right: 10px;

      .form-control {
        background-color: transparent;
      }
    }

    @media only screen and (max-width: 576px) {
      flex-direction: column;

      .form-group {
        margin-bottom: 10px;
      }
    }
    @media only screen and (max-width: 768px) {
      flex-direction: column;

      .form-group {
        margin-bottom: 10px;
      }
    }
  }
}

.freeresponse-question__container {
  width: 100%;

  .form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: 0px;
  }

  .freeresponse-question {
    background: rgba(243, 243, 243, 0.84);
    border-radius: 3px;
    padding: 20px;
    width: 100%;

    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-title {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 30px;
        color: var(--grey-dark-2);
        mix-blend-mode: normal;
        opacity: 0.87;
      }

      &-message__icon {
        .material-icons {
          color: var(--orange-light) !important;
        }
      }
    }

    &__body {
      position: relative;

      .input-group {
        margin: 10px 0px;

        .input-group-addon {
          background: rgba(229, 229, 229, 0.44);
          display: flex;
          justify-content: center;

          @media only screen and (max-width: 576px) {
            display: none;
          }
          @media only screen and (max-width: 768px) {
            display: none;
          }

          .icon-absolute {
            position: absolute;
            top: 30%;
            font-size: 16px;
            color: var(--white);
          }

          .material-icons {
            font-size: 16px;
          }
        }

        .form-control {
          background: rgba(243, 243, 243, 0.84);
          border-right: none;
          height: 100%;

          @media only screen and (max-width: 576px) {
            border-right: 1px solid #d7d7d7 !important;
          }
          @media only screen and (max-width: 768px) {
            border-right: 1px solid #d7d7d7 !important;
          }
        }
      }

      .input-borderless {
        border-top: none;
        border-right: none;
        border-left: none;
        box-shadow: none;
        border-radius: 0px;
      }

      .character-length {
        border: none;

        button {
          border-left: none !important;
          background: rgba(243, 243, 243, 0.84);
          border: 1px solid #d7d7d7;
          border-radius: 0px !important;
          height: 100%;
          color: #425a70 !important;

          img {
            height: 20px;
            width: 20px;
            margin-left: 5px;
          }

          @media only screen and (max-width: 576px) {
            border-left: 1px solid #d7d7d7 !important;
          }
          @media only screen and (max-width: 768px) {
            border-left: 1px solid #d7d7d7 !important;
          }
        }
      }
    }
  }
}
// question types end

.tag-primary {
  font-size: 8px;
  color: var(--white);
  background: var(--navy);
  border-radius: 100px;
  padding: 3px 15px;
  width: fit-content;
  margin: 5px;
}

.tag-subtle {
  font-size: 8px;
  background: var(--grey-faint-5);
  border-radius: 19px;
  padding: 3px 15px;
  width: fit-content;
  margin: 5px;
}

.form-add__lesson {
  input {
    background-color: var(--grey-faint-5);
    padding-left: 25px;
  }

  &-container {
    padding: 0px !important;
  }
}

// modal with comments
.modal-comment {
  margin: 20px auto;

  &__head {
    display: grid;
    grid-template-columns: 15% 75% 10%;
    margin-bottom: 20px;

    .modal-avatar {
      img {
        height: 50px;
        width: 50px;
      }
    }

    .modal-user {
      display: flex;
      align-items: center;
      color: var(--black);
      font-weight: 500;

      span {
        color: var(--grey);
        opacity: 0.5;
        font-weight: normal;
      }
    }

    .modal-resolve {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  &__content {
    padding-left: 50px;
    border-bottom: 1px solid var(--grey-faint);
  }

  &__reply {
    width: 100%;

    input {
      border: none;
    }
  }
}

#modal-comment__body {
  height: 65vh;
  overflow: scroll;
}

#modal-comment__footer {
  padding: 5px;
}

// modal with upload form
.modal-upload {
  padding: 20px;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1.5px dashed rgba(119, 126, 255, 0.3);
    padding: 20px;

    .material-icons {
      font-size: 100px;
      color: var(--blue-dark-3);
    }

    &-placeholder {
      font-weight: normal;
      font-size: 13px;
      line-height: 27px;
      text-align: center;
      color: var(--grey-dark-6);

      span {
        color: var(--blue);
      }
    }
  }

  &__grid {
    &-head {
      font-weight: normal;
      font-size: 14px;
      line-height: 27px;
      color: var(--black);
      padding: 20px;
      border-bottom: 1px solid rgba(196, 196, 196, 0.5);
    }

    &-content {
      display: grid;
      grid-template-columns: 24% 24% 24% 24%;
      grid-gap: 1%;
      margin-top: 20px;

      .grid-item {
        img {
          height: 150px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__footer {
    margin: 20px auto 10px 0px;
    display: flex;

    button {
      margin-right: 20px;
    }
  }
}

// share success message modal
.modal-success__share {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .material-icons {
    font-size: 60px;
    color: var(--green-whatsapp);
  }

  &-message {
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 33px;
    color: var(--black);
  }

  &-info {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 33px;
    color: var(--blue-light);
  }
}

// submit success modal
.modal-submit-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;

  .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #24c875;
    margin-bottom: 20px;
  }

  i {
    font-size: 60px;
    color: var(--green-whatsapp);
  }

  .btn-transparent {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 33px;
    color: var(--blue-light) !important;
  }
}

.pop-add__proceed {
  font-family: 'Poppins';
  position: relative;
  background: rgba(255, 193, 7, 0.26);
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  border-left: 5px solid var(--navy-lighter-4);
  margin-bottom: 20px;

  .material-icons {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 10px;
  }
}

// spinner progress and success
.content-success {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-faint-4);
    padding: 80px 50px;
    height: 80vh;

    .btn-primary {
      padding: 10px 15px !important;
    }
  }

  &__icon {
    position: relative;
    margin: 20px auto 0px auto;

    // success icons
    .check-icon {
      position: absolute;
      top: 50%;
      left: 48%;
    }

    // loading progress icon
    .loading {
      width: 100px;
      height: 100px;
      margin: 110px auto 0;
      border: solid 10px var(--blue-dark-2);
      border-bottom-left-radius: 1em 3em;
      border-radius: 50%;
      border-right-color: var(--grey-faint-2);
      border-bottom-color: var(--blue-dark-2);
      -webkit-transition: all 0.5s ease-in;
      -webkit-animation-name: rotate;
      -webkit-animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      transition: all 0.5s ease-in;
      animation-name: rotate;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      position: inherit;
    }
  }
  // message
  &__message {
    margin: 25px auto;
  }
  // success footer
  &__footer {
    width: 60%;

    &-buttons {
      display: flex;
      justify-content: space-evenly;
    }

    &-info {
      margin: 20px auto;
      text-align: center;

      span {
        color: var(--blue-dark-2);
      }
    }
  }
}

.panel-body__center {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  button {
    margin-bottom: 10px;
  }
}
