@import '../../assets/css/themes/light-colors.scss';

.content-wrapper__profile {
  margin-top: -20px;
  width: 95%;

  .nav-tabs {
    display: flex;
    align-items: flex-end;

    li {
      margin-right: 20px;

      .nav-link::before {
        display: none;
      }

      a {
        background-color: transparent;
        color: #979797 !important;
      }
    }
  }

  .nav-tabs .nav-link,
  .nav-tabs .nav-item.show .nav-link {
    border: initial;
    position: relative;
    padding: 0px;
    font-size: 12px;
    border-bottom: 4px solid white;
    margin-bottom: 1px;
  }

  .nav-tabs .nav-link.active {
    background-color: transparent;
    border-bottom: 4px solid #475f7b;
    padding: 3px 0px;
  }

  .nav {
    background-color: var(--white);
    height: 60px;
    padding: 15px 15px 0px 15px;
  }
}

// profile tab start
.page-content__section--profile {
  margin: 20px auto;
  padding: 0px !important;
  font-family: 'Roboto';

  &__left {
    height: fit-content;
    width: 100%;
    padding: 20px 10px;
    background-color: var(--white);
    border-radius: 4px;
    margin-bottom: 20px;

    .top {
      display: grid;
      grid-template-columns: 40% 55%;
      grid-gap: 5%;

      &--left {
        &__name {
          font-weight: 500;
          font-size: 24px;
          color: var(--black-light);
        }

        &__title {
          font-size: 14px;
          color: var(--grey);
        }
      }

      &--right {
        &__avatar {
          border-radius: 10px;
          height: 150px;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .bottom {
      border-top: 1px solid var(--whitesmoke);
      margin: 10px 0px 0px 0px;
      padding: 10px 0px 0px 0px;
      display: grid;
      grid-template-columns: 48% 48%;
      grid-gap: 4%;
    }
  }

  &__right {
    min-height: 100px;
    width: 100%;

    .top {
      margin-bottom: 20px;
      background-color: var(--white);
      border-radius: 4px;
      padding: 10px;

      &--head {
        border-bottom: 1px solid var(--whitesmoke);
        padding: 20px 0px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 16px;
        color: var(--black-faint);

        span {
          font-weight: 300;
          font-size: 14px;
          color: var(--navy-lighter);
          margin-left: 10px;
        }
      }

      &--footer {
        border-top: 1px solid var(--whitesmoke);
        padding: 20px 0px;
        margin-top: 20px;
      }
    }

    .bottom {
      background-color: var(--white);
      border-radius: 4px;
      padding: 10px;

      &--head {
        border-bottom: 1px solid var(--whitesmoke);
        padding: 20px 0px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 16px;
        color: var(--black-faint);

        span {
          font-weight: 300;
          font-size: 14px;
          color: var(--navy-lighter);
          margin-left: 10px;
        }
      }

      &--body {
        min-height: 200px;

        label {
          color: rgba(0, 0, 0, 0.6);
          margin: auto 20px;
          font-size: 14px;
          font-weight: normal;
        }
      }

      &--footer {
        border-top: 1px solid var(--whitesmoke);
        padding: 20px 0px;

        .btn-dark-blue__outline {
          color: var(--blue-dark) !important;
          border: 1px solid rgba(0, 0, 0, 0.12) !important;
          background-color: $white;
        }
      }
    }
  }
}
// profile tab end

// content tab start
.page-content__section--content {
  padding: 20px;
  background-color: var(--white);
  margin: 20px auto;
  font-family: 'Roboto';

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      font-weight: 500;
      font-size: 16px;
      color: var(--black);
    }

    &-left {
      select {
        color: var(--blue-google);
        font-weight: normal;
        border: none;
      }
    }

    &-middle {
      display: flex;
      justify-content: center;
      align-items: center;

      .btn-modal__date-range {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--grey-faint-2);
        color: var(--grey);
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin-right: 10px;
      }

      .date-range {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: var(--grey-faint-2);
        color: var(--grey);
        border-radius: 50px;
        min-width: 250px;
      }
    }

    &-right {
      display: flex;
      justify-content: flex-end;

      .search {
        margin-right: 20px;
        display: flex;
        align-items: center;
      }

      @media only screen and (max-width: 768px) {
        justify-content: space-between;
      }
    }
  }

  .content {
    .container-sort {
      display: flex;
      margin: 20px auto;
      font-family: 'Poppins';

      &__item {
        display: flex;
        align-items: center;
        margin-right: 30px;
        font-size: 12px;
        color: var(--black);

        select {
          border: none;
          margin: 0px 10px;
          color: var(--blue-google);
        }
      }

      @media only screen and (max-width: 768px) {
        flex-direction: column;
      }
    }

    table {
      border-collapse: separate;
      border-spacing: 0 0.5em;

      thead {
        background: var(--grey-faint-2);
      }

      th {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.05px;
        color: var(--navy-lighter);
      }

      th,
      td {
        border: none !important;
      }

      tbody {
        background-color: var(--white);

        tr {
          margin-bottom: 5px;
          border: 0.3px solid var(--grey-faint);
          box-sizing: border-box;
          box-shadow: 0px 4px 4px rgba(151, 151, 151, 0.09);
          border-radius: 2px;

          .row-date {
            height: fit-content;
            background-color: var(--white);
            color: var(--black);
            font-weight: 600;
            font-size: 14px;

            span {
              font-weight: normal;
              color: var(--red);
            }
          }

          .name-row {
            display: grid;
            grid-template-columns: 20% 80%;
            margin-top: 2px;

            &--left {
              height: 30px;
              width: 30px;

              img {
                border-radius: 50%;
                height: 25px;
                width: 25px;
              }
            }

            &--right {
              margin-left: 5px;
              display: flex;
              flex-direction: column;
              justify-content: center;

              .title {
                color: var(--blue-google);
                font-size: 12px;
              }

              .sub-title {
                color: var(--grey-light-3);
                font-size: 10px;
              }
            }
          }

          td {
            padding: 5px 5px !important;
            position: relative;
            height: 70px;
          }

          .custom-td {
            height: 100%;
            display: flex;
          }

          .flex-column {
            flex-direction: column;
            height: 100%;
          }

          .flex-center {
            justify-content: center;
            align-items: center;
          }

          .justify-content__center {
            justify-content: center;
          }

          .material-icons {
            display: flex;
          }

          .more_vert {
            color: var(--black-light);
          }

          .dropdown-menu-right {
            top: 40px;
          }

          .text-color__time {
            &-now {
              color: rgba(36, 200, 117, 0.5) !important;
            }

            &-recent {
              color: rgba(255, 173, 105, 0.5) !important;
            }

            &-past {
              color: rgba(255, 78, 74, 0.5) !important;
            }
          }

          .badge-half {
            font-size: 10px;
            padding: 0px 15px;
            border-radius: 0px 20px 20px 0px;
            height: fit-content;
            width: fit-content;
          }

          .user-warning {
            color: rgba(255, 173, 105, 0.5);
            background: var(--white);
            border: 1px solid rgba(255, 173, 105, 0.5);

            &__row {
              border-left: 4px solid rgba(255, 173, 105, 0.5) !important;
            }
          }

          .user-danger {
            color: rgba(255, 78, 74, 0.5);
            background: var(--white);
            border: 1px solid rgba(255, 78, 74, 0.5);

            &__row {
              border-left: 4px solid rgba(255, 78, 74, 0.5) !important;
            }
          }

          .user-success {
            color: rgba(36, 200, 117, 0.5);
            background: var(--white);
            border: 1px solid rgba(36, 200, 117, 0.5);

            &__row {
              border-left: 4px solid rgba(36, 200, 117, 0.5) !important;
            }
          }

          .user-primary {
            color: var(--white);
            background: var(--blue-google);
            border: none;

            &__row {
              border-left: 4px solid var(--blue-google) !important;
            }
          }

          .warning {
            color: var(--white);
            background: var(--orange-light);
            border: none;
          }

          .danger {
            color: var(--white);
            background: rgba(255, 78, 74, 0.5);
            border: none;
          }

          .success {
            color: var(--white);
            background: rgba(36, 200, 117, 0.5);
            border: none;
          }

          .primary {
            color: var(--white);
            background: var(--blue-google);
            border: none;
          }

          .social-stack {
            span {
              margin-right: 5px;
              border: 1px solid var(--whitesmoke);
              border-radius: 5px;
              height: 20px;
              width: 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: var(--grey-faint);
              color: var(--white);
            }

            .active {
              &-messenger {
                color: var(--blue-google);
                background-color: var(--white);
              }

              &-whatsapp {
                background: var(--green-whatsapp);
              }

              &-telegram {
                background: var(--blue-google);
              }

              &-email {
                background: var(--blue-dark);
              }
            }
          }
        }
      }
    }
  }
}
// content tab styling end

.search {
  position: relative;
  width: 200px;
  border-radius: 20px;

  input {
    border: initial;
    background: transparent;
    outline: initial !important;
    padding: 0.5rem 2.3rem;
    line-height: 1.75;
    font-size: 0.8rem;
    width: 93%;
    color: blue;
    border-radius: 40px;
  }

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    border-radius: 10px;
    color: var(--grey-faint);
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 0px;
    text-align: center;
    cursor: pointer;
    right: 15px;

    &:hover {
      color: var(--grey-faint-2);
    }
  }
}

// buttons
.btn-plain__active {
  font-family: 'Poppins';
  border: none;
  border-radius: 4px;
  background: rgba(98, 2, 238, 0.0001);
  padding: 5px 10px;
  color: var(--blue-dark) !important;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;

  &:hover {
    background: rgba(98, 2, 238, 0.0001);
    color: var(--blue-dark) !important;
    border: none;
  }
}

.btn-plain__inactive {
  border: none !important;
  background: rgba(98, 2, 238, 0.0001) !important;
  padding: 5px 10px;
  color: var(--navy-lighter-4) !important;
  font-size: 12px;
  text-align: center;
  display: flex;
  align-items: center;

  &:hover {
    background: rgba(98, 2, 238, 0.0001);
    color: var(--navy-lighter-4) !important;
    border: none;
  }
}

.btn-dark-blue {
  background: var(--blue-dark) !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12),
    0px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 5px 15px;
  color: var(--white) !important;
  font-size: 12px;
  text-align: center;
  border: 1px solid var(--blue-dark) !important;
  display: flex;
  align-items: center;
  border-radius: 4px !important;

  &:hover {
    background: var(--blue-dark) !important;
    border: 1px solid var(--blue-dark) !important;
    color: var(--white);
  }
}

.btn-dark-blue__outline {
  background: rgba(98, 2, 238, 0.0001);
  padding: 5px 15px;
  color: var(--blue-dark) !important;
  font-size: 12px;
  text-align: center;
  border-radius: 4px !important;
  border: 1px solid var(--blue-dark) !important;
  display: flex;
  align-items: center;

  &:hover {
    background: rgba(98, 2, 238, 0.0001) !important;
    border: 1px solid var(--blue-dark) !important;
    color: var(--blue-dark) !important;
  }
}

.btn-primary {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 10px 20px !important;
  background-color: var(--blue-light) !important;
  color: var(--white) !important;
  box-shadow: 0px 0px 20px rgba(53, 160, 238, 0.25) !important;
  border: none !important;
  border-radius: 21px !important;
  width: fit-content !important;
  height: fit-content !important;
  font-family: 'Montserrat' !important;
  font-size: 12px;

  .overlap-group {
    align-self: center !important;
    background: #5395c1;
    box-shadow: inset 0px 3px 5px 1px #334d6e;
    border-radius: 50%;
    flex-shrink: 0 !important;
    height: 18px !important;
    margin-left: 2px !important;
    margin-top: 1px !important;
    margin-right: 10px !important;
    position: relative !important;
    width: 18px !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .ellipse {
      background-color: transparent !important;
      height: 18px !important;
      left: 0px !important;
      position: absolute !important;
      top: 0px !important;
      width: 18px !important;

      i {
        color: rgba(53, 160, 238, 0.25) !important;
      }
    }
  }

  &:hover {
    background: var(--blue-light);
    border: none;
    color: var(--white);
  }
}

.btn-transparent {
  border: none !important;
  background: none !important;
}

.e-hide {
  display: none;
}
