@import '../../../assets/css/themes/light-colors.scss';

.all-library-content {
  &__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: $black;
    margin: 0px 0px 15px;
  }
}
