@import '../../../assets/css/themes/light-colors.scss';

.card-wrapper {
  color: $white;
  height: 265px;
  margin-bottom: 15px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #081f32;

  &__top {
    background: linear-gradient(0deg, #d2ebf7, #d2ebf7), #bcd1ff;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    .content-status {
      position: absolute;
      top: 10px;
      left: 0px;
      background-color: $blue;
      padding: 0px 5px 0px 5px;
      border-radius: 0 8px 8px 0;

      &.draft {
        background: rgba(255, 173, 105, 0.5);
      }

      &.published {
        background: #24c875;
      }

      &.review {
        background: #4d8dff;
      }

      img {
        margin-right: 5px;
      }
    }

    .icon-badge-merit {
      position: absolute;
      bottom: -10px;
      right: 10px;

      img {
      }
    }

    .icon-bell {
      position: absolute;
      top: 10px;
      right: 15px;
      color: #979797;
      font-size: 15px;

      &__notification {
        position: absolute;
        top: 2px;
        right: 0px;
        height: 5px;
        width: 5px;
        background-color: $red;
        border-radius: 50%;
      }
    }

    .card-img-top {
      height: 130px;
      width: 100%;
    }
  }

  .card-body {
    padding: 0px 0.5rem;
    cursor: pointer;

    .card-title {
      font-weight: 700;
      font-size: 13px;
      line-height: 18px;
      color: #6e798c;
    }

    .card-subtitle {
      font-weight: 500;
      font-size: 11px;
      line-height: 15px;
      color: #6e798c;
    }

    .card-text {
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #081f32;
    }
  }

  .card-footer {
    padding: 10px 0.5rem;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
      display: flex;

      .icon-messenger {
        height: 20px;
        width: 20px;
        border: 0.4px solid #e5e5e5;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;

        img {
          height: 15px;
          width: 15px;
        }
      }

      .icon-whatsapp {
        height: 20px;
        width: 20px;
        background: #24c875;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 15px;
          width: 15px;
        }
      }
    }

    &__right {
      color: #4d8dff;
    }
  }
}
