.social-auth {
  display: flex;
  justify-content: center;

  &__button {
    border: 1px solid #dadada !important;
    border-radius: 3px !important;
    margin-right: 5px;
    margin-left: 5px;
    font-family: 'Rubik';
    font-size: 18px;
    line-height: 44px;
    color: #000000 !important;

    &:hover,
    :focus {
      border: 1px solid #dadada !important;
      color: #000000 !important;
      background-color: white !important;
    }
  }
}
