.modal-body {
  padding: 0px !important;

  .user-expertise {
    &__container {
      font-family: 'Rubik';
      padding: 60px 40px;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 10px auto;

      &-image {
        margin-right: 10px;
      }

      &-card {
        background: rgba(233, 166, 67, 0.2);
        border-radius: 4px;
        padding: 5px 20% 5px 5px;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: normal;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #334d6e;
      }
    }

    &__form {
      .form {
        &--custom__select {
          display: flex;
          justify-content: space-between;
          margin: 10px auto;

          .form-check {
            display: flex;
            flex-direction: column;
            background: var(--white);
            border: 1.5px solid #d5d9dc;
            border: 1px solid var(--grey-light-2);
            border-radius: 4px;
            box-sizing: border-box;
            padding: 10px;
            width: 90%;
            height: 140px;

            input[type='radio'] {
              margin: 0px 10px;
            }

            label {
              margin: 0px;
            }

            &__top {
              height: 60px;
              display: flex;
              justify-content: center;
              align-items: center;
              background: #c2cfe0;
              border-radius: 5px;
            }

            &__bottom {
              display: grid;
              grid-template-columns: 20% 80%;

              .form-check-input {
                position: inherit !important;
                margin-top: 10px;
                margin-left: 0px;
              }
            }
          }

          .form-check__small {
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--white);
            border: 1px solid #d5d9dc;
            box-sizing: border-box;
            border-radius: 4px;
            width: 100px;
            height: 40px;

            input[type='radio'] {
              margin: 0px 10px;
            }

            label {
              margin: 0px;
            }

            .form-check-input {
              position: inherit !important;
            }
          }

          .checked {
            background: var(--navy-lighter-faint);
            border: 1.5px solid var(--blue-google);

            label {
              color: var(--blue-google);
            }
          }

          form-check-input:checked ~ .form-check {
            background-color: var(--red);
          }

          form-check-input:checked ~ .form-check__small {
            background-color: var(--red);
          }
        }
      }

      &-buttons {
        position: absolute;
        bottom: 10px;
        right: 20px;
        display: flex;
      }
    }
  }
}
